/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');



/* Reset some defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: #333;
}

p {
    font-weight: 450;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #222;
  color: #fff;
}

/* Navbar items */
.navbar ul {
  display: flex;
  list-style: none;
}

/* Spacing between navbar items */
.navbar li {
  margin-left: 40px;
}

/* Navbar links */
.navbar a {
  color: #ffffff;
  text-decoration: none;
}

.navbar a:hover {
  color: rgb(228, 198, 230);
  text-decoration: underline;
}
/* Hero */
.hero {
  text-align: center;
  padding: 4rem 2rem;
  background: #e3dff5;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #222;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;  
}
.btn:hover {
  background: #303030;
}


/* Features */
.features {
  display: flex;
  justify-content: space-around;
  padding: 3rem 2rem;
  background: #fff;
}

.feature {
  width: 30%;
  text-align: center;
}

.feature h2 {
  margin-bottom: 1rem;
  color: #222;
}

/* Footer */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* makes main expand to push footer down */
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 1rem;
  background: #222;
  color: #fff;
  width: 100%;
}
/* Footer end */



/*  Experimental box  */
.box {
    display: flex;
    margin: 0 auto;
    left: 20%;
    font-size: 50px;

    border: 5px solid transparent;
    background:
        linear-gradient(#7c2b9c, rgb(32, 136, 76)) padding-box,
        linear-gradient(to right, blue, red) border-box;
    animation: gradient-rotate 3s linear infinite; /* Animation for rotating gradient */
    
    
    border-radius: 25px;
    background-clip: padding-box, border-box; /* background-clip for padding and border */
    background-origin: border-box;              

    justify-content: space-around;
    align-items: last baseline;
    height: 100px;
    
    background-color: #847a88;
}




